<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>

<div id = "clientProfile">
<h2>My Profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>

<div id = "servicesMenu">
    <th:block>
        <table>
            <thead>
            <tr>
            <th>Treatments</th>
            </tr>
            </thead>
            <tr th:each = "facial : ${appropriateFacials}">
                <td th:text="${facial}"></td>
            </tr>
        </table>
    </th:block>
</div>
<div >
    <h3 th:if = "${manipedi.equals('manicure')}">
        <p th:replace = "~{fragments :: manicureDescription}"></p>
    </h3>
</div>
<div >
    <h3 th:if = "${manipedi.equals('pedicure')}">
        <p th:replace = "~{fragments :: pedicureDescription}"></p>
    </h3>
</div>
<div >
    <h3 th:if = "${manipedi.equals('both')}">
        <p th:replace = "~{fragments :: mani-pedi}"></p>
    </h3>
</div>
</body>
</html>